SID="xxxxxxxxx"
SOURCE_PROJECT_NAME="xxxxxxxx"
DESTINATION_PROJECT_NAME="xxxxxxx"
# S3から取得したexport JSONを使う場合にパスを指定します。未設定ならScrapbox APIから直接exportします。
EXPORT_JSON_PATH=""
# "Ttrue"にすると、デフォルトで複製するようになります。
SHOULD_DUPLICATE_BY_DEFAULT="False"
